.loginSection {
  width: 100vw;
  height: 100vh;
}

.loginHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 11vh;
  justify-content: space-between;
  padding: 0rem 5rem;
}

.loginHeader h4 {
  font-size: 1.4rem;
}

.scoreboard {
  cursor: pointer;
}

.loginForm {
  flex-direction: column;
}

.btn {
  width: 10rem;
  height: 3rem;
  font-size: 1.1rem;
  margin-top: 2rem;
  border-radius: 2rem;
  border: none;
  cursor: pointer;
  background: #0d1b2a;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.inputLogin input {
  margin-left: 2rem;
  font-size: 1rem;
  border-radius: 2rem;
  font-size: 1.2rem;
  outline: none;
  border: 1px solid black;
  padding: 0.3rem 1rem;
}

.inputLogin label {
  font-weight: 600;
}

.color {
  color: #00bfa6;
  font-weight: 800;
}
