.scoreboardHeader {
  height: 11vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 5rem;
}

.back {
  cursor: pointer;
}

.scoreItem {
  display: flex;
  flex-direction: row;
  width: 14rem;
  justify-content: space-between;
}

.scoreboard {
  height: 50vh;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
