.scoreboardHeader {
  height: 11vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 5rem;
}

.back {
  cursor: pointer;
}

.scoreboard {
  height: 50vh;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 1.2rem;
  margin-top: 2rem;
  font-weight: 800;
}
